*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#000;
  color:white;
  font-family:Arial;
}

header{
  padding:20px;
  position:sticky;
  top:0;
  background:#000;
  border-bottom:1px solid #222;
}

h1{
  margin-bottom:15px;
}

#search{
  width:100%;
  padding:12px;
  border:none;
  border-radius:12px;
  background:#111;
  color:white;
  outline:none;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:20px;
}

.card{
  background:#111;
  border-radius:20px;
  overflow:hidden;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.03);
}

.card img{
  width:100%;
  height:350px;
  object-fit:cover;
}

.content{
  padding:15px;
}

button{
  margin-top:10px;
  width:100%;
  padding:12px;
  border:none;
  border-radius:12px;
  background:white;
  color:black;
  font-weight:bold;
  cursor:pointer;
}
